* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100%;
  margin: 0 auto;
}
h2, h3 {
  padding: 2px;
  box-sizing: border-box;
}
main {
  width: 60%;
  margin: 10px auto;
}
header {
  min-height: 60px;
  box-sizing: border-box;
  padding: 20px;
  background-color: dimgray;
  color: white;
}

.InputLabel {
  vertical-align: top;

}
input, button{
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid grey;
}
input[type=text]{
  width: 100%;
}
input[type=submit]{
  width: 20%;
  float: right;
  margin: 5px 0;
}
.List, .FormArea {
  margin: 50px auto;
  clear: both;
}
.List{
  box-sizing: border-box;
  margin: 20px auto;
}
.Card {
  box-sizing: border-box;
  padding: 10px 0;
  display: flow-root;
  border-bottom: 1px solid grey;
}
.CardBorder {

}
.Check {
  float: left;
  margin: 15px  0 0 0;
}
.Text {
  width: 70%;
  float: left;
  overflow: auto;
}
.EditButton {
  float: right;
  width: 20%;
  padding: 5px;
  margin: 2px auto;
}